* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background-color: #03030a;
}

.borderColor {
  border: 8px solid #1089ff;
}

.container {
  position: relative;
}

.shadowcolor {
  box-shadow: 1px 0px 7px 0px #19c3fc;
}

.joinShadowcolor:hover {
  box-shadow: 0px 0px 15px 5px #19c3fc;
}
/* scroll bar */
::-webkit-scrollbar-button {
  height: 12px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--bg-promary);
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #19c3fc;
  -webkit-box-shadow: inset 0 0px 0px #19c3fc;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #19c3fc;
}

/* image section */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 70vh; */
}
.box {
  position: relative;
  border: 2px solid red;
  z-index: 9;
  width: 230px;
  height: 230px;
  background: rgb(1, 0, 0);
  border: none;
  border-radius: 100% !important;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  inset: -20px 70px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 12s linear infinite;
}

.box:hover::before {
  inset: -20px 0px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: rgb(15, 9, 42);
  border-radius: 50%;
  z-index: 1;
}
.content {
  position: absolute;
  inset: 20px;
  border: 3px solid #31a5e3;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 5;
}
/* .box:hover .content img {
  opacity: 0;
} */
/* 
.content h2 {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.06px;
  text-transform: uppercase;
} */

.content h2 p {
  font-weight: 300;
  font-size: 16px;
}
.content p {
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  background: #fff;
  color: black;
  border-radius: 25px;
  font-weight: 500;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icons {
  transition: 0.5s;
  animation: iconsroted 12s linear infinite;
}

@keyframes iconsroted {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.anim {
  transition: 0.5s;
  animation: animate 12s linear infinite;
}

.anim {
  position: fixed;
}

/* bg-gradient-to-r from-[#7BEFFF] to-[#07C926] inline-block  bg-clip-text text-transparent */

/* border roted */

.icons {
  transition: 0.5s;
  animation: iconsroted 10s linear infinite;
}
