* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background-color: #03030a;
  
}
/* styles.css or your separate CSS file */
.bg-banner {
  background-image: url("/src/assets/banner.png");
  width: 100%;
  height: 700px;
  /* Add other background properties if needed */
}
.hide {
  overflow: hidden !important;
}

.borderColor {
  border: 8px solid #1089ff;
}

.container {
  position: relative;
}

.gradient-text {
  background: linear-gradient(to right, #19c3fc, #d1b9e2);
  -webkit-background-clip: text;
  color: transparent;
}

.shadowcolor {
  box-shadow: 1px 0px 7px 0px #1089ff;
}
