* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background-color: #03030a;
}

.borderColor {
  border: 8px solid #1089ff;
}

.container {
  position: relative;
}

.shadowcolor {
  box-shadow: 1px 0px 7px 0px #1089ff;
}
/* scroll bar */
::-webkit-scrollbar-button {
  height: 12px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--bg-promary);
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #19c3fc;
  -webkit-box-shadow: inset 0 0px 0px #19c3fc;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #19c3fc;
}
