@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sectionDesign {
    @apply shadow-lg py-3 px-3 lg:px-4 mt-4 lg:mt-8 border-2 rounded-md lg:rounded-lg;
  }
  .colors {
    @apply absolute right-[20%] top-0 hidden h-[150px] w-[200px] rotate-12 rounded-3xl bg-gradient-to-l from-blue-600 to-sky-400 opacity-20 blur-3xl filter dark:block dark:opacity-40 lg:top-44 lg:-right-20 lg:h-72 lg:w-[350px] xl:h-80 xl:w-[400px];
  }
  .colors2 {
    @apply absolute right-[20%] top-0 h-[200px] w-[200px] rotate-12 rounded-3xl bg-gradient-to-l from-blue-400 to-sky-500 opacity-20 blur-3xl filter dark:block dark:opacity-30 lg:top-5;
  }
  .speakersIamgeContainer {
    @apply cursor-pointer w-[230px] h-[230px] overflow-hidden  hover:border-[#19d449] transition ease-in rounded-full;
  }
  .speakersIamge {
    @apply rounded-full  w-full h-full hover:scale-105 duration-500;
  }
  .speakersName {
    @apply text-[#19c3fc] cursor-pointer text-2xl lg:text-3xl font-bold py-2;
  }

  .formInput {
    @apply py-3 w-[300px] md:w-[340px] lg:w-[370px] px-2 border-[1px] focus:outline-none font-medium rounded-lg bg-transparent border-[#19c3fc];
  }
}

@media (min-width: 768px) and (max-width: 2400px) {
  .self-class::before,
  .self-class::after {
    content: "";
    width: 5px;
    height: 200px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 100;
  }

  .middle-class::before,
  .middle-class::after {
    content: "";
    width: 150px;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 50%;
    margin: auto;
  }
  .middle-class::before {
    left: 27%;
  }
  .middle-class::after {
    right: 27%;
  }
}
